
<div class="d-flex mx-5 mt-5 mb-1">
  <%= link_to 'Voltar', guest_bookings_path %>
  <%= link_to 'Registrar Avaliação', new_guest_booking_review_path(@booking) %>
</div>


<% content_for :booking_actions do %>
  <% if @booking.reserved? %>
    <%= button_to 'Cancelar Reserva', cancel_guest_booking_path(@booking), method: :post %>
  <% else %>
    Nenhuma ação para ser executada
  <% end %>
<% end %>

<%= render partial: 'bookings/info', locals: {
  get_booking_path: -> booking { guest_booking_path booking }
} %>
