
<div class="d-flex mx-5 mt-5 mb-1">
  <%= link_to 'Voltar', bookings_path %>
  <%= link_to 'Registrar Avaliação', new_booking_review_path(@booking) %>
</div>


<% content_for :booking_actions do %>
  <%= button_to 'Cancelar Reserva', cancel_booking_path(@booking), method: :post %>
<% end %>

<%= render partial: 'info', locals: {
  get_booking_path: -> booking { booking_path booking }
} %>
