
<div class="d-flex flex-row-reverse mx-5 mt-5 pb-1">
  <%= link_to 'Editar Pousada', edit_host_inn_path %>

  &nbsp;

  <%= link_to 'Visualizar Quartos', host_inn_rooms_path %>
</div>

<%= render partial: 'inns/infos', locals: { display_sensitive_data: true } %>
