
<div id="newest-inns">
  <%=
    render partial: 'table', locals: {
      inns: @newest_inns,
      table_title: 'Pousadas Recentes'
    }
  %>
</div>

<div id="inns">
  <%=
    render partial: 'table', locals: {
      inns: @remaining_inns,
      table_title: 'Outras Pousadas'
    }
  %>
</div>
