
<div class="d-flex mx-5 mt-5 pb-1">
  <%= link_to 'Voltar', inns_path %>
</div>

<div class="container-fluid">
  <%= render partial: 'infos', locals: { display_senstive_data: false } %>
</div>

<div class="container-fluid">
  <%= render partial: 'inn_rooms/list', locals: {
    rooms: @rooms
  } %>
</div>
