
<div class="d-flex justify-content-between mx-5 mt-5">
  <%= link_to 'Voltar', own_inn_path %>
  <%= link_to 'Registrar Quarto', new_own_inn_room_path %>
</div>

<%=
  render partial: 'inn_rooms/list', locals: {
    rooms: @rooms
  }
%>
