
<table id="custom-prices" class="table table-responsive table-striped table-hover text-center">
  <thead>
    <tr>
      <th colspan="4">
        <h4>Preços por temporada</h4>
      </th>
    </tr>

    <tr>
      <th>Incício</th>
      <th>Fim</th>
      <th>Preço</th>

      <% if display_sensitive_data %>
        <th>Ações</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if prices.empty? %>
      <td colspan="4">
        Nenhum preço especial encontrado
      </td>
    <% else %>
      <% prices.each do |custom_price| %>
        <tr>
          <td><%= I18n.l custom_price.start_date %></td>
          <td><%= I18n.l custom_price.end_date %></td>
          <td class="text-end"><%= number_to_currency(custom_price.price.to_f / 100)  %></td>

          <% if display_sensitive_data %>
            <td><%= link_to 'Editar', edit_host_inn_room_custom_price_path(@room, custom_price) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
