
<div class="d-flex mt-5 mx-5 pb-1">
  <%= link_to 'Voltar', host_inn_rooms_path %>
</div>

<div class="container">
  <% if @room.errors.any? %>
    <% @room.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <h3 class="text-center">Criar Quarto</h3>

  <%= render partial: 'rooms/form', locals: {
    room: @room,
    action_url: host_inn_rooms_path,
    action_method: :post
  } %>
</div>
